body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111419;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/path/to/your/background-image.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding-top: 56px; /* Para no estar debajo de la barra de navegación */
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}
