html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-image: url(/Imagenes/WhatsApp\ Image\ 2024-03-27\ at\ 6.35.05\ PM\ \(1\).jpeg); /* Cambia esto por la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 1000;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Ajuste del color de fondo */
    color: #000;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}
